@import url("https://fonts.googleapis.com/css2?family=Crete+Round&family=InaiMathi&family=Poppins&family=Roboto&family=Inter&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

img {
  width: 100%;
  height: 100%;
}

.dom {
  background-color: rgba(239, 237, 237, 0.8745098039);
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.orange-line {
  background-color: #ec5242;
  width: 40px;
  height: 1px;
}

li {
  list-style: none;
}

header {
  padding: 10px 5%;
}
header span {
  font-size: 35px;
  font-weight: 900;
}
header div {
  display: none;
}

.home-page {
  padding-top: 20px;
  display: flex;
  flex-direction: column;
  gap: 5px;
}
.home-page h3 {
  color: #ec5242;
  font-size: larger;
}
.home-page h1 {
  color: #ec5242;
  font-size: xx-large;
}
.home-page h1 b {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}
.home-page .home-p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: "Lato", sans-serif;
  font-weight: 600;
  font-size: small;
  border: 3px solid white;
  padding: 12px;
}
.home-page h2 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
}

.main-program {
  background-color: #272a31;
  background-image: url(images/cross.svg);
  background-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
  margin-top: 50px;
  padding: 35px 5%;
}
.main-program div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.main-program ul {
  padding: 25px 0;
  display: flex;
  flex-direction: column;
  gap: 12px;
}
.main-program ul li {
  background-color: rgba(255, 255, 255, 0.122);
  display: flex;
  align-items: center;
  gap: 10px;
  padding: 15px;
}
.main-program ul li span {
  font-size: xx-large;
}
.main-program ul li h3 {
  color: #ec5242;
  font-size: large;
  width: 100px;
  margin: 0;
}
.main-program ul li p {
  font-size: small;
  margin: 0;
  flex: 1;
}
.main-program button {
  background-color: #ec5242;
  color: white;
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: medium;
  border: none;
  padding: 22px;
  width: -moz-fit-content;
  width: fit-content;
}
.main-program article {
  display: none;
}

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 20px;
  padding: 35px 5%;
}
.speakers div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.speakers ul {
  padding: 22px 0px 0px 0px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  margin: 0;
}
.speakers ul li {
  display: flex;
  gap: 12px;
}
.speakers ul li .speaker-image {
  width: 120px;
  height: 120px;
  padding-left: 15px;
  padding-top: 15px;
  position: relative;
}
.speakers ul li .speaker-image div {
  background-image: url(images/dark-chees-background.svg);
  background-size: 18%;
  background-repeat: round;
  width: 60%;
  height: 60%;
  top: 0;
  left: 0;
  position: absolute;
}
.speakers ul li .speaker-image img {
  z-index: 9;
}
.speakers ul li .speaker-info {
  flex: 1;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}
.speakers ul li .speaker-info h3 {
  font-family: "Lato", sans-serif;
  font-weight: 900;
  font-size: 18px;
}
.speakers ul li .speaker-info h5 {
  font-family: "Lato", sans-serif;
  font-size: 10px;
  color: #ec5242;
  font-style: italic;
}
.speakers ul li .speaker-info div {
  background-color: rgb(185, 160, 160);
  width: 22px;
  height: 1px;
  margin-bottom: 9px;
}
.speakers ul li .speaker-info p {
  font-size: 9px;
}

.partners {
  background-color: rgb(73, 72, 72);
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 25px 5%;
}
.partners div {
  display: flex;
  flex-direction: column;
  align-items: center;
}
.partners ul {
  padding: 20px 0px;
  margin: 0;
  display: grid;
  grid-template-columns: auto auto auto;
  gap: 30px;
  color: white;
}

footer {
  padding: 25px 8%;
  display: flex;
  gap: 15px;
}
footer :first-child {
  display: flex;
  gap: 3px;
  align-items: center;
}
footer :first-child span {
  font-size: xx-large;
}
footer :first-child h2 {
  font-family: "Lato", sans-serif;
  font-weight: 700;
  font-size: 18px;
}
footer :last-child {
  font-size: small;
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5% 30px 5%;
  gap: 10px;
  border: 2px solid rgb(184, 182, 182);
  border-radius: 12px;
  padding: 10px 30px;
}
.see-more span {
  color: #ec5242;
  font-size: 34px;
  font-weight: 300;
}
.see-more:hover {
  border: 3px solid #ec5242;
  cursor: pointer;
}

.see-less {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0px 5% 30px 5%;
  gap: 10px;
  border: 2px solid rgb(184, 182, 182);
  border-radius: 12px;
  padding: 10px 30px;
}
.see-less span {
  color: #ec5242;
  font-size: 34px;
  font-weight: 300;
}
.see-less:hover {
  border: 3px solid #ec5242;
  cursor: pointer;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: rgb(73, 72, 72);
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  width: 100%;
}
.mobile-menu ul {
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}
.mobile-menu ul li {
  list-style-type: none;
  border-bottom: 1px solid rgba(239, 237, 237, 0.8745098039);
  width: -moz-fit-content;
  width: fit-content;
}
.mobile-menu ul li a {
  text-decoration: none;
  font-size: 30px;
  font-weight: 600;
  font-family: "Lato", sans-serif;
  font-style: oblique;
}
.mobile-menu ul li:hover {
  cursor: pointer;
  border: 1px solid #ec5242;
}
.mobile-menu span {
  font-size: 50px;
  font-weight: 900;
  color: white;
}

.hidden {
  display: none;
}/*# sourceMappingURL=index.css.map */