@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
  --background: #d3d3d3;
  --primary: #ec5242;
  --black: #272a31;
  --white: white;
  --grey: rgb(73, 72, 72);
}

* {
  margin: 0;
  padding: 0;
}

img {
  max-width: 100%;
  max-height: 100%;
}

.first-page {
  background-image: url(images/background.svg);
  background-repeat: no-repeat;
  background-size: 100%;
}

.hamburger {
  margin-left: 15px;
}

.headding {
  display: none;
}

.home-page {
  padding-top: 20px;
  padding-bottom: 60px;
}

.home-page h1 b {
  color: var(--primary);
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 43px;
}

.home-page h2 b {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
}

.home-page h3 {
  color: var(--primary);
}

.home-p {
  margin-top: 10px;
  margin-bottom: 10px;
  font-family: 'Lato', sans-serif;
  font-weight: 600;
  font-size: medium;
  border: 3px solid white;
  padding: 12px;
  color: var(--black);
}

.main-program {
  background-color: var(--black);
  background-image: url(images/cross.svg);
  background-size: 32px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.main-program > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 27px;
}

.orange-line {
  background-color: var(--primary);
  width: 40px;
  height: 1px;
}

.main-program > ul {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.main-program li {
  background-color: rgba(255, 255, 255, 0.122);
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 10px;
  padding: 15px;
  list-style-type: none;
}

.speakers li {
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 12px;
  list-style-type: none;
}

.partners li {
  list-style-type: none;
  color: var(--white);
  font-style: oblique;
  font-size: 22px;
  font-weight: 700;
}

.mobile-menu li {
  list-style-type: none;
  font-size: 30px;
  font-weight: 600;
  font-family: 'Lato', sans-serif;
  font-style: oblique;
  border-bottom: 1px solid var(--background);
  width: fit-content;
}

.main-program li:hover {
  border: 3px solid var(--white);
  cursor: pointer;
}

.main-program i {
  color: var(--white);
  font-size: 40px;
  width: 40px;
}

.main-program h3 {
  color: var(--primary);
  width: 100px;
  font-size: 18px;
  font-weight: 700;
}

.main-program p {
  width: calc(100% - 140px);
  font-size: small;
}

.main-program button {
  background-color: var(--primary);
  color: var(--white);
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 16px;
  border: none;
  padding: 22px;
  margin-top: 30px;
  margin-bottom: 30px;
}

.see-program {
  display: none;
}

.speakers {
  display: flex;
  flex-direction: column;
  align-items: center;
}

.speakers > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 27px;
}

.speakers > ul {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 12px;
}

.speaker-image {
  width: 120px;
  height: 120px;
}

.speaker-bg {
  width: 50%;
  height: 50%;
  background-image: url(images/dark-chees-background.svg);
  background-size: 18%;
  background-repeat: round;
}

.speaker-image img {
  width: 85%;
  height: 85%;
  margin-top: -38%;
  margin-left: 12%;
}

.speaker-info {
  width: calc(100% - 120px);
}

.speaker-info h3 {
  font-family: 'Lato', sans-serif;
  font-weight: 900;
  font-size: 18px;
}

.speaker-info h5 {
  font-family: 'Lato', sans-serif;
  font-size: 10px;
  color: var(--primary);
  font-style: italic;
}

.speaker-info div {
  background-color: var(--background);
  width: 22px;
  height: 1px;
  margin-bottom: 9px;
}

.speaker-info p {
  font-size: 9px;
}

.partners {
  background-color: var(--grey);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.partners > div {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 8px;
  padding: 27px;
}

.partners > div h2 {
  font-weight: 500;
}

.partners > ul {
  padding-right: 2rem;
  display: flex;
  flex-direction: column;
  gap: 17px;
  padding-bottom: 27px;
}

.footer {
  padding: 28px;
  display: flex;
  gap: 10px;
  align-items: center;
  justify-content: center;
}

.footer > div {
  display: flex;
  gap: 3px;
  align-items: center;
  justify-content: center;
}

.see-more i {
  color: var(--primary);
  font-size: 34px;
  font-weight: 300;
}

.see-less i {
  color: var(--primary);
  font-size: 34px;
  font-weight: 300;
}

.footer > div i {
  font-size: 28px;
}

.footer > div h2 {
  font-family: 'Lato', sans-serif;
  font-weight: 700;
  font-size: 20px;
}

.see-more {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 8px;
  border: 2px solid var(--background);
  border-radius: 12px;
  width: 300px;
  padding: 10px 30px;
}

.see-more:hover {
  border: 3px solid var(--primary);
  width: calc(300px * 0.8);
  cursor: pointer;
}

.see-more div {
  font-size: 20px;
  font-weight: 300;
}

.see-less {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 30px auto;
  gap: 8px;
  border: 2px solid var(--background);
  border-radius: 12px;
  width: 300px;
  padding: 10px 30px;
}

.see-less:hover {
  border: 3px solid var(--primary);
  width: calc(300px * 0.8);
  cursor: pointer;
}

.see-less div {
  font-size: 20px;
  font-weight: 300;
}

.mobile-menu {
  position: fixed;
  top: 0;
  left: 0;
  height: 100vh;
  background-color: var(--grey);
  display: flex;
  justify-content: space-between;
  padding: 20px 20px;
  width: 100%;
}

.glyphicon-remove {
  font-size: 30px;
  color: white;
}

.mobile-menu ul {
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding-top: 50px;
}

.mobile-menu li:hover {
  cursor: pointer;
  color: var(--primary);
}

.hidden {
  display: none;
}

@media only screen and (min-width: 786px) {
  .hamburger {
    display: none;
  }

  .headding {
    display: flex;
    flex-direction: column;
  }

  .contact {
    display: flex;
    background-color: var(--grey);
    width: 100%;
    justify-content: flex-end;
    align-items: center;
    gap: 30px;
    padding: 3px 15% 3px 3px;
  }

  .contact div {
    font-weight: 300;
    font-size: 12px;
  }

  .logo {
    padding: 23px 13% 23px 9%;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background-color: var(--white);
  }

  .logo div {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
  }

  .main-program i {
    color: var(--white);
    font-size: 40px;
    width: auto;
  }

  .logo div i {
    font-size: 28px;
  }

  .logo div h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
    margin: 0;
  }

  .logo-menu {
    display: flex;
    gap: 40px;
    align-items: center;
    margin: 0;
  }

  .logo-menu li {
    list-style-type: none;
    color: var(--black);
  }

  .speakers li {
    gap: 14px;
  }

  .main-program li {
    display: flex;
    flex-direction: column;
    justify-content: center;
  }

  .logo-menu li:hover {
    color: var(--primary);
    cursor: pointer;
  }

  .logo-menu li:active {
    border: 3px solid var(--primary);
    padding: 5px;
  }

  .home-page {
    padding-top: 4%;
    padding-bottom: 9%;
  }

  .home-page p {
    width: 60%;
  }

  .home-p {
    margin-top: 30px;
    margin-bottom: 30px;
  }

  .main-program > ul {
    display: grid;
    grid-template-columns: auto auto auto auto auto;
    gap: 8px;
    padding-left: 13%;
    padding-right: 13%;
    margin-bottom: 30px;
  }

  .main-program h3 {
    color: var(--primary);
    width: auto;
    font-size: medium;
  }

  .main-program p {
    width: auto;
    font-size: small;
  }

  .main-program button {
    display: none;
  }

  .see-program {
    display: flex;
    align-items: center;
    margin: 3.7%;
    font-size: 15px;
  }

  .see-program u:hover {
    color: var(--primary);
  }

  .speakers > ul {
    display: grid;
    grid-template-columns: auto auto;
    margin-left: calc(29.3% / 2);
    margin-right: calc(29.3% / 2);
    margin-bottom: 6%;
    row-gap: 43px;
    column-gap: 27px;
  }

  .partners > ul {
    flex-direction: row;
    gap: 65px;
  }

  .footer {
    padding: 40px;
    gap: 12%;
  }

  .see-more {
    display: none;
  }

  .see-less {
    display: none;
  }

  .mobile-menu {
    display: none;
  }
}
