@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

:root {
    --background: #d3d3d3;
    --primary: #ec5242;
    --black: #272a31;
    --white: white;
    --grey: rgb(73, 72, 72);
}

* {
    margin: 0;
    padding: 0;
}

img {
    max-width: 100%;
    max-height: 100%;
}

.first-page {
    background-image: url(images/background.svg);
    background-repeat: no-repeat;
    background-size: 100%;
}

.home-page {
    padding-top: 20px;
    padding-bottom: 60px;
}

.home-page h1 b {
    color: var(--primary);
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 43px;
}

.home-page h2 b {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
}

.home-page h3 {
    color: var(--primary);
}

.home-p {
    margin-top: 10px;
    margin-bottom: 10px;
    font-family: 'Lato', sans-serif;
    font-weight: 600;
    font-size: medium;
    border: 3px solid white;
    padding: 12px;
    color: var(--black);
}

.main-program {
    background-color: var(--black);
    background-image: url(images/cross.svg);
    background-size: 32px;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-program > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 27px;
}

.orange-line {
    background-color: var(--primary);
    width: 40px;
    height: 1px;
}

.main-program > ul {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.main-program li {
    background-color: rgba(255, 255, 255, 0.122);
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;
    padding: 15px;
    list-style-type: none;
}

.main-program i {
    color: var(--white); 
    font-size: 40px;
    width: 60px;
}

.main-program h3 {
    color: var(--primary);
    width: 80px;
    font-size: medium;
}

.main-program p {
    width: calc(100% - 140px);
    font-size: small;
}

.main-program button {
    background-color: var(--primary);
    color: var(--white);
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 16px;
    border: none;
    padding: 22px;
    margin-top: 30px;
    margin-bottom: 30px;
}

.speakers {
    display: flex;
    flex-direction: column;
    align-items: center;
}

.speakers > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 27px;
}

.speakers > ul {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.speakers li {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 12px;
    list-style-type: none;
}

.speaker-image {
    width: 100px;
    height: 100px;
}

.speaker-bg {
    width: 50%;
    height: 50%;
    background-image: url(images/dark-chees-background.svg);
    background-size: 18%;
    background-repeat: round;
}

.speaker-image img {
    width: 85%;
    height: 85%;
    margin-top: -38%;
    margin-left: 12%;
}

.speaker-info {
    width: calc(100% - 100px);
}

.speaker-info h3 {
    font-family: 'Lato', sans-serif;
    font-weight: 900;
    font-size: 18px;
}

.speaker-info h5 {
    font-family: 'Lato', sans-serif;
    font-size: 10px;
    color: var(--primary);
    font-style: italic;
}

.speaker-info div {
    background-color: var(--background);
    width: 15px;
    height: 1px;
}

.speaker-info p {
    font-size: 9px;
}

.partners {
    background-color: var(--grey);
    display: flex;
    flex-direction: column;
    align-items: center;
}

.partners > div {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 8px;
    padding: 27px;
}

.partners > div h2 {
    font-weight: 500;
}

.partners > ul {
    padding-right: 2rem;
    display: flex;
    flex-direction: column;
    gap: 17px;
    padding-bottom: 27px;
}

.partners li {
    list-style-type: none;
    color: var(--white);
    font-style: oblique;
    font-size: 22px;
    font-weight: 700;
}

.footer {
    padding: 28px;
    display: flex;
    gap: 10px;
    align-items: center;
    justify-content: center;
}

.footer > div {
    display: flex;
    gap: 3px;
    align-items: center;
    justify-content: center;
}

.footer > div i {
    font-size: 28px;
}

.footer > div h2 {
    font-family: 'Lato', sans-serif;
    font-weight: 700;
    font-size: 20px;
}

.see-more {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    gap: 8px;
    border: 2px solid var(--background);
    border-radius: 12px;
    width: 300px;
    padding: 10px 30px;
}

.see-more div{
    font-size: 20px;
    font-weight: 300;
}

.see-more i{
    color: var(--primary);
    font-size: 34px;
    font-weight: 300;
}

.see-less {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 30px auto;
    gap: 8px;
    border: 2px solid var(--background);
    border-radius: 12px;
    width: 300px;
    padding: 10px 30px;
}

.see-less div{
    font-size: 20px;
    font-weight: 300;
}

.see-less i{
    color: var(--primary);
    font-size: 34px;
    font-weight: 300;
}